body {
  background: url(../../../Assets/Images/bg2.jpg) center center;
  background-size: contain;
  background-attachment: fixed;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 50px #5c6bc0bb inset;
  -webkit-text-fill-color: white !important;
}
