@import "../../sass/Helper/_variables.scss";

.carouselSection {
  .carousel__content {
    position: relative;
    #carouselExampleIndicators {
      .carousel-indicators {
        position: absolute;
        bottom: 12%;
        li {
          display: inline-block;
          margin-right: 10px;
          width: 15px;
          height: 12px;
          background-color: $color-gray-1;
          border: 0;
          border-radius: 50%;
          @media screen and (max-width: 768px) {
            width: 12px;
            height: 10px;
          }
        }

        .active {
          background-color: $color-orange-0;
        }
      }
      .carousel-inner {
        .carousel-item {
          position: relative;
          img {
            width: 100%;
            height: 47vw;
          }
          button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border: 2px solid white;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, 0.39);
            opacity: 0;
            transition: 0.5s all;
            &:focus {
              border: 0;
              outline: none;
            }
            i {
              color: white;
              font-size: 20px;
              border: 0;
            }
          }
          &:hover button {
            opacity: 1;
          }
        }
      }
      .left__control {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: none;
        .fa-chevron-left {
          font-size: 60px;
          opacity: 0.5;
          margin-left: 50px;
        }
        @media screen and (max-width: 992px) {
          display: none !important;
        }
      }
      .right__control {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: none;
        .fa-chevron-right {
          font-size: 60px;
          opacity: 0.5;
          margin-right: 50px;
        }
        @media screen and (max-width: 992px) {
          display: none !important;
        }
      }
    }
  }
}

.modal-video {
  .modal-video-body {
    .modal-video-inner {
      .modal-video-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }
}

// @media screen and (max-width: 576px) {
//   .carouselSection {
//     .carousel__content {
//       height: 100px;
//     }
//   }
// }
