@import "../../sass/Helper/_variables.scss";

.header__bg {
  height: 60px;
}
.header__img {
  width: 35%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header {
  position: fixed;

  width: 100%;
  z-index: 100;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  .header__content {
    height: 60px;
    padding: 0px 20px !important;
    .btn__themeMode {
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      &:hover {
        color: $color-orange-0;
      }
    }
    .selCity {
      border: none;
    }
    .navbar {
      display: flex;
      justify-content: space-between;

      .header__logo {
        img {
          width: 70px;
          height: 50px;
          transform: translateY(18%);
        }
      }

      .header__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-47%);
        display: flex;
        align-items: center;
        ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          li {
            a {
              transition: all 0.2s;
              text-decoration: none;
              margin-right: 40px;
              cursor: pointer;
              white-space: nowrap;
              font-size: 14px;
              line-height: 1.42857143;
              &:hover {
                color: $color-orange-0;
              }
            }
          }
        }
        @media screen and (max-width: 1224px) {
          top: 0%;
        }
      }

      .header__right {
        position: absolute;
        top: 5px;
        right: 0;
        @media screen and (max-width: 1224px) {
          top: 15px;
        }
      }
      .div__header__right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: auto;
          width: 30px;
          border-radius: 25px;
          margin-right: 5px;
          cursor: pointer;
        }
        span {
          // color: $color-gray-0;
          position: relative;
          cursor: pointer;
        }
        .dropdown {
          display: inline-block;
          .btn:focus {
            box-shadow: none;
          }
          i {
            color: $color-gray-0;
          }
          #dropdownMenuButton {
            position: relative;
            border: 0;
            margin-left: 10px;
            padding: 6px 25px;
            border-radius: 0;
            border-left: 1px solid $color-gray-0;
            &::after {
              position: absolute;
              top: 50%;
              right: 0%;
              transform: translateY(-50%);
              color: $color-gray-0;
            }
          }
        }
      }
    }
  }
}
//Toggle button
.toggle__button {
  margin-top: 8px;
  font-size: 2.5rem;
  cursor: pointer;
}
// collapse__Info
.collapse__Info {
  top: 60px;
  z-index: 1;

  #collapse__Info {
    padding: 20px 20px 10px;
  }
  li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .mode__display {
    margin-bottom: 10px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  // overflow-y: scroll;
  position: absolute;
  left: 0;
  .btn__themeMode {
    border: none !important;
    background-color: transparent !important;
    span {
      font-size: 18px;
    }
    &:focus {
      outline: none !important;
    }
    &:hover {
      color: $color-orange-0 !important;
    }
  }
}

.collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
